In [5]:
## sum of square.

def square(nums):
  sum = 0
  for i in range(nums+1):
    sum = sum+(i**2)
  return sum

In [6]:
square(3)

14

In [7]:
def square_num(num):
  sum = 0
  for i in range(num+1):
    square_num = i**2
    sum = sum+square_num
  return sum


nums = int(input("enter the value of num:"))

print(square_num(nums))

enter the value of num:5
55

In [9]:
def summation(nums):
  sum = 0
  for num in numbers:
    sum = sum+num
  return sum

numbers = [3,4,5,62,3,4,5,6,7,8,9]
print(summation(numbers))

116

In [10]:
list1 = [3,4,2,1,2,3,4,5,6,7,8,9]
def sums(num):
  sum = 0
  for num in list1:
    sum = sum+num
  return sum

result = sums(list1)
print(result)

54

In [11]:
## Greatest Common factor.

def gcd_num(x,y):
  smaller = min(x,y)
  gcd = 1
  for i in range(1,smaller+1):
    if x%i==0 and y%i==0:
      gcd = i
  return gcd

In [12]:
gcd_num(25,20)

5

In [13]:
gcd_num(8,12)

4

In [15]:
lcm = (8*12)//gcd_num(8,12)
print(lcm)

24

In [16]:
import math

In [17]:
gcd = math.gcd(25,20)
print(gcd)

5

In [18]:
## armstrong numbers:


num = int(input("enter the value:"))
sum = 0
temp = num
while temp>0:
  digit = temp%10
  cubic = digit**3
  sum = sum+cubic
  temp//=10
  if sum==num:
    print("this is a armstrong numbers:")
    break
else:
  print("this is not a armstrong numbers:")

enter the value:153
this is a armstrong numbers:

In [25]:
lower = int(input("enter the numbers:"))
upper = int(input("enter the numbers:"))
for num in range(lower,upper+1):
  sum = 0
  temp = num
  while temp>0:
    digit = temp%10
    cubic = digit**3
    sum = sum+cubic
    temp//=10
  if sum==num:
    print(num)

enter the numbers:100
enter the numbers:1000
153
370
371
407

In [26]:
## check palindrome numbers:
## A palindrome is a word , pahse,or sequance that reads the same backward as forward.for example the word-madam


string = "Bharat is my country"

rev_str = string[::-1]
print(rev_str)

yrtnuoc ym si tarahB

In [27]:
if string==rev_str:
  print("this is a palindrome numbers:")
else:
  print("this is not a palindrome numbers:")

this is not a palindrome numbers:

In [28]:
def sum_of_cube(num):
  sum = 0
  for i in range(num+1):
    cube = i**3
    sum = sum+cube
  return sum

In [29]:
sum_of_cube(3)

36

In [34]:
def cube(nums):
  sum = 0
  for i in range(nums+1):
    cube = i**3
    sum = sum+cube
  return sum

In [35]:
cube(2)

9

In [36]:
num = [4,5,3,2,78,96,43,23,12]
largest_num = max(num)
print(largest_num)

96

In [53]:
def get_minvalue(lst):
  lowest = lst[0]
  for num in lst:
    if num<lowest:
      lowest = num
  return lowest

In [54]:
lowest_num = [3,4,2,7,6,5,9]
print(get_minvalue(lowest_num))

2

In [55]:
def max_value(lst):
  max = lst[0]
  for i in lst:
    if i>max:
      max = i
  return max

lst1 = [3,4,5,6,34,56,23,43,25]
print(max_value(lst1))

56

In [56]:
lst1 = [3,4,5,6,34,56,23,43,25]

def get_sum(lst1):
  sum = 0
  for num in lst1:
    sum = sum+num
  return sum

print(get_sum(lst1))

199

In [57]:
def remove_duplicates(lst1,lst2):
  new_lst = []
  for items in lst1:
    if items in lst2:
      new_lst.append(items)
  return new_lst

In [59]:
lst1 = [2,3,4,5,6,87,6,5,43,56]
lst2 = [3,4,5,6,3,27,8,97,6,4]
remove_duplicates(lst1,lst2)

[3, 4, 5, 6, 6, 5]

In [61]:
string = ["a","b","c","d","e","f","g","h","i","j","k","l","m"]
for i in string:
  if i=="a":
    print("a is present in the list")
    break
else:
  print("false")

a is present in the list

In [63]:
string = ["a","b","c","d","e","f","g","h","i","j","k","l","m"]
i = string[0]
if i not in string:
  print("False")
else:
  print("True")

True

In [64]:
## Sum of squares:
def sum_of_square(nums):
  sum = 0
  for i in range(nums+1):
    square = i**2
    sum = sum+square
  return sum

In [65]:
sum_of_square(4)

30

In [73]:
## find out the second largest number

lst1 = [3,4,5,6,3,27,8,97,6,4]

lst1.sort()
print(lst1)

[3, 3, 4, 4, 5, 6, 6, 8, 27, 97]

In [74]:
import itertools

In [78]:
def find_permutations(string):
  characters = list(string)
  permutations = list(itertools.permutations(characters))

  permutations = [' '.join(permutation) for permutation in permutations]

  return permutations

In [79]:
string = "abc"

find_permutations(string)

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [82]:
def get_permutations(strings):
  characters = list(strings)
  permutations = list(itertools.permutations(characters))
  permutations = [''.join(permutation) for permutation in permutations]
  return permutations

In [85]:
strings = "ab
"

get_permutations(strings)

['ab', 'ba']

In [87]:
def integer_to_roman(num):
  roman_numerals = {
      1000: 'M',
      900: 'CM',
      500: 'D',
      400: 'CD',
      100: 'C',
      90: 'XC',
      50: 'L',
      40: 'XL',
      10: 'X',
      9: 'IX',
      5: 'V',
      4: 'IV',
      1: 'I'
  }

  roman = ' '
  for value,symbol in roman_numerals.items():
    while num>=value:
      roman+=symbol
      num-=value
  return roman

In [88]:
integer_to_roman(36)

' XXXVI'

In [93]:
def num_to_roman(num):
  roman_numerals = {

        1000: 'M',
      900: 'CM',
      500: 'D',
      400: 'CD',
      100: 'C',
      90: 'XC',
      50: 'L',
      40: 'XL',
      10: 'X',
      9: 'IX',
      5: 'V',
      4: 'IV',
      1: 'I'
  }

  roman = ''
  for value ,symbol in roman_numerals.items():
    while num>=value:
      roman+=symbol
      num-=value
  return roman

In [94]:
num_to_roman(86)

'LXXXVI'